@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.welcome {
  background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%); */
  /* background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%); */
}

.line {
  background: -webkit-linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.line2 {
  background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.shadows {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
}

.shadows2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pinkish {
  background: -webkit-linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thin {
  border-right: solid 0.2px rgba(250, 250, 250, 0.04);
}

.thin2 {
  border-bottom: solid 0.2px rgba(250, 250, 250, 0.04);
}

.thin3 {
  border-top: solid 1px rgba(250, 250, 250, 0.04);
}

.card {
  border: solid 0.2px rgba(250, 250, 250, 0.04);
}

.btn {
  width: 100%;
  display: flex;
  justify-contents: center;
  align-items: center;
  gap: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.btn:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.player {
  position: fixed;
  top: 3.5rem;
  left: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
